/* DARK MODE */
[data-theme="dark"] {
  --bg-primary: #0A0A0A;
  --bg-secondary: #050505;
  --bg-card: #161616;

  --text-primary: #FFFFFF;
  --text-secondary: #9CA3AF;
  --text-muted: #6B7280;

  --border: #2D2D2D;

  --shadow: 0 4px 12px rgba(0,0,0,0.5);

  /* Tables Specifics */
  --table-hover: #1A1A1A;
  --table-selected: #1E293B;

  /* Sidebar Specifics */
  --sidebar-bg: #050505;
  --sidebar-border: #2D2D2D;
  --sidebar-text: #FFFFFF;
  --sidebar-active-bg: #00B8D9;
  --sidebar-active-text: #FFFFFF;
}
